:root {
  --aside-width: 300px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 3rem 0 2rem;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

.brand-logo {
  height: 60px;
}

.header {
  align-items: center;
  justify-content: space-between;
  background: #ffffff00;
  display: flex;
  height: var(--header-height);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}


/* Small screens (mobile) */
@media (max-width: 576px) {
  .header {
    align-items: center; /* Center items horizontally */
    flex-direction: column; /* Stack items vertically */
    height: auto;
    }

    .header > *:not(:first-child) {
      padding-top: 1rem;
    }

    .header-ctas > :last-child {
      margin: 0rem;
    }

    
}


.header-menu-mobile-toggle {
  @media (min-width: 992px) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 5rem;
  @media (min-width: 992px) {
    display: flex;
    grid-gap: 0.5rem;
    justify-content: center;
  }

}

.header-menu-item {
  cursor: pointer;
  margin: 1rem;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}

@media (max-width: 992px) {
  .header-ctas h3 {
    font-size: 2rem;
    margin: 0rem 1rem 0rem 1rem;
  }
}


.cart-badge {
  display: flex;
  height: 4rem;
  position: relative;
}

.cart-count{
  display: flex;
  align-items: center;
  justify-content: center;  
  position: absolute;
  padding: 1px;
  padding-bottom: 3px;
  border-radius: 100%;
  width: clamp(16px,1.05vw,20px);
  height: clamp(16px,1.05vw,20px);
  background: #0e0e0e;
  color: #fff;
  right: -10px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 11px;
}


/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: rgb(0, 0, 0);
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 5rem;
  padding: 0rem 15rem 0 15rem;
  margin-top: 12rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: 10vh;

  @media (min-width: 576px){
    font-size: 15vh;
    line-height: 7rem;
  }
}

.footer-text1 {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  background-color: blue;
  color: white;
  font-size: 1.3rem;
  word-spacing: 2rem;
}

.footer-text2 {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  color: blue;
  font-size: 1.3rem;
  word-spacing: 2rem;
}

.footer-menu-missing {
  display: inline-block;
  margin: 0rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  padding: 1rem;
  color: rgb(14, 65, 192);
  width: fit-content;
}

.footer-menu a {
  color: rgb(255, 255, 255);
}

#footer-link {
  scroll-behavior: smooth;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 50vh;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
  padding: 0 3rem 0 1rem;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-details {
}


.cart-line {
  display: flex;
  padding: 0.75rem 0;
  flex-direction: column;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);

  background-color: white;
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
  padding-left: 1rem;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search {
  margin: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search h1 {
  font-size: 10vw;
  margin: 1rem 0 1rem 0;
}

.search h2 {
  font-size: 7vw;
  margin: 1rem 0 1rem 0;
}

.search span {
  font-size: 5vw;
}

@media (min-width: 768px) {
  .search h1 {
    font-size: 6vw;
    margin: 1rem 0 1rem 0;
  }
  
  .search h2 {
    font-size: 4vw;
    margin: 1rem 0 1rem 0;
  }
  
  .search span {
    font-size: 2vw;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form button {
  margin: 0;
}

.search-form input {
  margin: 0;
}


/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 10rem;
}

.recommended-products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 0rem;
}

.recommended-products button {
  display: flex;
  rotate: 3deg;
  border-style: none;
  height: min-content;
}

.recommended-products button:hover {
  background-color: transparent;
}

.recommended-products button img {
  width: 75vw;
  height: auto;
  @media (min-width: 768px){
    width: 60vw;
  }
  @media (min-width: 992px){
    width: 50vw;
  }
  @media (min-width: 1200px){
    width: 40vw;
  }
}



/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 20rem;

}

.collections, .collection-item {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem 20rem 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.collection-item h5 {
  width: fit-content;
}

.collection-item img {
  max-width: 15rem;
  border-style: solid;
  border-width: 2px;
}
.collection-item:hover {
  max-width: 14.6rem;
}

.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
  margin-top: 4rem;
  margin-bottom: 20rem;
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  top: 0rem;
  margin-right: 2rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}


/*
* --------------------------------------------------
* CUSTOM BUTTONS
* --------------------------------------------------
*/

.custom-button {
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0em;
  border-width: 0px;
  border-style: none;
}

.custom-button:hover {
  border-color: transparent;
  color: black;
  background-color: transparent;
}

/*
* --------------------------------------------------
* WELCOME SECTION
* --------------------------------------------------
*/

.welcome-section-animation {
  height: auto;
  margin: 0 0 0 0;
}


.welcome-img {
  height: 40rem;
  max-width: 100vw;
  padding-left: 1.3rem;

  @media (min-width: 768px){
    height: 50rem;
  }
  @media (min-width: 992px){
    padding-left: 2rem;
    height: 60rem;
  }
  @media (min-width: 1200px){
    height: 70rem;
  }
  @media (min-width: 1920px){
    margin: 3rem 0 3rem 0;
    height: 80rem;
  }
}

.welcome-section-btn-container {
  display: flex;
  position: relative;
}


.custom-button-wb1 {
  position: absolute;
  height: auto;
  width: 50vw;
  background-color: transparent;
  border-style: none;
  top: 2vh;
  left: 1vw;
  rotate: -5deg;

  @media (min-width: 768px){
    width: 35vw;
    top: 10vh;
    left: 1vw;
    rotate: 10deg;
  }
  @media (min-width: 1200px){
    width: 40vw;
  }
  @media (min-width: 1920px){
    width: 25vw;
    left: 5vw;
    top: 10vh;
    rotate: -10deg;
  }

}
.custom-button-wb1:hover {
  background-color: transparent;
}

.custom-button-wb2 {
  position: absolute;
  height: auto;
  width: 50vw;
  max-width: 15rem;
  background-color: transparent;
  border-style: none;
  top: 75vh;
  left: 25vw;
  rotate: -5deg;

  @media (min-width: 576px){
    width: 45vw;
    top: 75vh;
    left: 30vw;
  }

  @media (min-width: 768px){
    width: 50vw;
    top: 0;
    left: 38vw;
    rotate: 2deg;

  }

}
.custom-button-wb2:hover {
  background-color: transparent;
}

.custom-button-wb3 {
  position: absolute;
  height: auto;
  width: 50vw;
  background-color: transparent;
  border-style: none;
  top: 12vh;
  right: 5vw;
  rotate: 15deg;


  @media (min-width: 576px){
    top: 10vh;
  }
  @media (min-width: 768px){
    width: 38vw;
    top: 12vh;
    right: 5vw;
    rotate: -15deg;
  }

}
.custom-button-wb3:hover {
  background-color: transparent;
}

.portfolio-title {
  font-family: Lafat;
  height: 1.5rem;
  background-color: blue;
  color: white;
  align-content: center;
  word-spacing: 2rem;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}
.container-animation-portfolio {
  width: 100%;
  overflow-x: hidden;
}
.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items__item {
  white-space: nowrap;
  font-family: Lafat;
  background-color: blue;
  color: white;
  word-spacing: 2rem;
}

@media (max-width: 576px) {
  .portfolio-section {
    flex-direction: column;
    align-items: center;
  }
}

.portfolio-section {
  display: flex;
  height: auto;
  justify-content: center;
}

.portfolio-colum {
  display: flex;
	flex-direction: column;
  flex-wrap: wrap;
}

.port-img-div {
  width: auto;
  margin: 1rem;
}

.portfolio-img {
  width: 30vw;
}


/* Three column layout */
.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.column {
	display: flex;
	flex-direction: column;
}

/* Shift entire column up, but not so much that it goes out of view */
.column-reverse {
	transform: translateY(calc(-100% + 100vh));
}

/* As we're about to shift content out of .columns, we need it to hide its overflow */
.columns {
	overflow-y: hidden;
}

/* Flip item order in reversed columns */
.column-reverse {
	flex-direction: column-reverse;
}

/* Set up Animation */
@keyframes adjust-position {
	/* Start position: shift entire column up, but not so that it goes out of view */
	from {
		transform: translateY(calc(-100% + 100vh));
	}

	/* End position: shift entire column down, but not so that it goes out of view */
	to {
		transform: translateY(calc(100% - 100vh));
	}
}

/* Hook our animation with the timeline to our columns */
.column-reverse {
	animation: adjust-position linear forwards;
	animation-timeline: scroll(root block);
}


.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: 100%;
}

.footer-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 20rem;
  width: auto;
}

.footer-image {
  width: 20rem;
}

.fb1 {
  top: -6rem;
  left: 5rem;
  rotate: 10deg;
}

.fb2 {
  top: 3rem;
  left: 0rem;
  rotate: -3deg;
}

.fb3 {
  top: 2rem;
  left: 1rem;
  rotate: -2deg;
}

.fb4 {
  top: 11rem;
  left: 4rem;
  rotate: 2deg;
}

.fb4 img {
  height: 5rem;
  width: auto;
}

.fb5 {
  top: -6rem;
  left: 0rem;
  rotate: -10deg;
}

.fb6 {
  top: 3rem;
  left: 2rem;
  rotate: 3deg;
}

.login, .account, .account-recover, .account-recover-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  margin-top: 4rem;
  margin-bottom: 20rem;
}



@keyframes changeColor {
  0% {
    background-color: rgb(255, 179, 0); /* Initial color */
  }
  25% {
    background-color: rgb(0, 128, 255); /* First color */
  }
  50% {
    background-color: rgb(0, 255, 0); /* Second color */
  }
  75% {
    background-color: rgb(255, 0, 0); /* Third color */
  }
  100% {
    background-color: rgb(255, 179, 0); /* Back to initial color */
  }
}

.login-form fieldset,
.recover-form fieldset,
.register-form fieldset {
  border: 2px solid black;
  padding: 2rem 5rem 2rem 5rem;
  animation: changeColor 1.4s steps(1) infinite; /* Adjust the duration as needed */
}

.cart-line-quantiy {
  display: flex;
  flex-direction: column;
}

.cart-quantity-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.cart-quantity-buttons button {
  font-size: 1rem;
  padding: 0.8rem;
}

.cart-summary-aside h4 {
  font-size: 2rem;
}

aside header h3 {
  margin: 0;
  font-size: 2rem;
}

.discountCode-div button {
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-bottom: 1rem;
}



/*
* --------------------------------------------------
* ANIMATIONS
* --------------------------------------------------
*/

.custombtn-anim {
  /* Set initial rotation */
  transform: rotate(0deg);
  /* Apply transition for smooth hover effect */
  transition: transform 0.3s ease-in-out;
}

.custombtn-anim:hover {
  /* Increase the rotation speed on hover */
  transition: transform 0.1s ease-in-out;
}

@keyframes rotateButton {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.custombtn-anim {
  /* Apply the keyframe animation */
  animation: rotateButton 1s infinite;
}

.custombtn-anim:hover {
  /* Increase the rotation speed on hover */
  animation: rotateButton 0.2s infinite;
}


@keyframes productReveal {
  0% {
    transform: rotate(-3deg);
    opacity: 0;
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 100;
  }
}

.product-container{
  animation: productReveal 2s;

}

@keyframes portfolioReveal {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 100;
  }
}

.portfolio-img{
  animation: portfolioReveal 2s;
}

.footer-stickers{
  height: auto;
  position: relative;
}

.footer-sticker1{
  position: absolute;
  width: 40vw;
  fill: rebeccapurple;
  rotate: 35deg;
  top: 3rem;
  animation: colorSticker1 1.4s steps(1) infinite;
}

.footer-sticker2{
  position: absolute;
  width: 30vw;
  fill: pink;
  top: 15rem;
  right: 15vw;
  animation: colorSticker2 1.4s steps(1) infinite;
}

@keyframes colorSticker2 {
  0% {
    fill: rgb(0, 255, 0); /* Second color */
  }
  25% {
    fill: rgb(255, 0, 0); /* Third color */
  }
  50% {
    fill: rgb(255, 179, 0); /* Back to initial color */
  }
  75% {
    fill: rgb(255, 179, 0); /* Initial color */
  }
  100% {
    fill: rgb(0, 128, 255); /* First color */
  }
}

@keyframes colorSticker1 {
  0% {
    fill: rgb(255, 179, 0); /* Initial color */
  }
  25% {
    fill: rgb(0, 128, 255); /* First color */
  }
  50% {
    fill: rgb(0, 255, 0); /* Second color */
  }
  75% {
    fill: rgb(255, 0, 0); /* Third color */
  }
  100% {
    fill: rgb(255, 179, 0); /* Back to initial color */
  }
}